* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.body {
  height: 100vh;
}

.header {
  color: white;
  display: grid;
  grid-auto-flow: column;
  position: sticky;
  list-style: none;
}
header ul {
  text-decoration: none;
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  margin-top: 20px;
}
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(222, 228, 222);
}

.lists {
  list-style: none;
  text-decoration: none;
}
.title {
  align-self: center;
  justify-content: center;
  margin-top: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
}
.principal-image {
  position: absolute;
  margin-top: 10px;
  object-fit: cover;
  transform: translateZ(-20px) scale(2.2);
  z-index: -1;
}

.creativity {
  position: relative;
  align-items: center;
  justify-items: center;
  color: white;
}

.blogs {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 26px;
  margin-bottom: 2rem;
}
.img {
  width: 500px;
  height: 500px;
  display: grid;
  justify-items: center;
  margin-left: 25rem;
  object-fit: cover;
  border-radius: 20px;
}
/* .App {
  background-image: url("https://images.pexels.com/photos/5977736/pexels-photo-5977736.jpeg?auto=compress&cs=tinysrgb&w=600");
} */
.details {
  display: grid;
  grid-template-columns: auto;
}
.content {
  display: grid;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.favorites {
  display: grid;
  grid-template-columns: auto;
  /* background-image: url("https://images.pexels.com/photos/5797991/pexels-photo-5797991.jpeg?auto=compress&cs=tinysrgb&w=600"); */
}
.dropbtn {
  background-color: transparent;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}
